Documentation/Report format/Abstract.aux
*.m~
Documentation/Report format/*.log
Documentation/Report format/*.aux
Documentation/Report format/*.blg
Documentation/Report format/*.gz
Documentation/Report format/*.pdf